.notification-bar {

    background-color: $mainColor;
    color:white;

    text-align: center;    
    padding: 0px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.8rem;


    @include media($phone){

        min-height: 70px;
        flex-direction: column;

        .notification-bar__text {
            margin-bottom: 4px;
        }

        .notification-bar__button {
            margin-top: 4px;
        }

    }

    @include media($tablet){

        min-height: 60px;
        
        .notification-bar__text {
            margin-right: 4px;
        }

        .notification-bar__button {
            margin-left: 4px;
        }
    }

    @include media($desktop){

        min-height: 60px;
            
        .notification-bar__text {
            margin-right: 4px;
        }

        .notification-bar__button {
            margin-left: 4px;
        }

    }

}